@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	scroll-padding: 5rem;
}

body {
	background-color: #15191e;
	color: #fff;
}

@layer base {
	.btn {
		@apply px-6 py-2 rounded-md font-[500] inline-block;
	}

	.btn-blue {
		@apply bg-lightblue hover:bg-[#49BCC4] transition-all;
	}
	.btn-trans-white {
		@apply bg-transparent border border-white text-white hover:border-lightblue hover:bg-lightblue transition-all;
	}

	h1 {
		@apply text-3xl sm:text-4xl md:text-5xl font-bold tracking-widest;
	}
	h2 {
		@apply font-bold text-3xl tracking-widest;
	}
	h3 {
		@apply font-semibold text-3xl tracking-wide;
	}
	p {
	}
}
