@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	scroll-padding: 5rem;
}

body {
	background-color: #15191e;
}

@layer base {
	body {
		@apply text-gray-300;
	}
	.blog-body h2,
	.blog-body h3,
	.blog-body h4 {
		@apply pt-8 pb-4;
	}
	.blog-body p,
	.blog-body li {
		@apply my-4 tracking-wide;
	}

	.blog-body li {
		@apply my-6;
	}
	.blog-body a {
		@apply text-lightblue underline;
	}

	.btn {
		@apply px-6 py-2 rounded-md font-[500] inline-block;
	}

	.btn-blue {
		@apply bg-lightblue hover:bg-[#49BCC4] transition-all text-white;
	}
	.btn-trans-white {
		@apply bg-transparent border border-white text-white hover:border-lightblue hover:bg-lightblue transition-all;
	}

	h1 {
		@apply text-3xl sm:text-4xl md:text-5xl font-bold tracking-widest;
	}
	h2 {
		@apply font-bold text-4xl tracking-wide;
	}
	h3 {
		@apply font-semibold text-3xl tracking-wide;
	}
	.services-description h4 {
		@apply text-xl font-bold capitalize mt-6;
	}
	.services-description p {
		@apply text-gray-400 leading-loose tracking-wider mt-2;
	}
}

.animate-in .puzzle1 {
	animation: animation1-puzzle1 3.5s forwards;
}
.animate-in .puzzle2 {
	animation: animation1-puzzle2 3.5s forwards;
}
.animate-in .puzzle3 {
	animation: animation1-puzzle3 3.5s forwards;
}
.animate-in .puzzle4 {
	transform-origin: right;
	animation: animation1-puzzle4 3.5s forwards;
}

@keyframes animation1-puzzle1 {
	from {
		transform: none;
	}
	to {
		transform: translate(32px, 28px);
	}
}

@keyframes animation1-puzzle2 {
	from {
		transform: none;
	}
	to {
		transform: translate(32px, -25px);
	}
}
@keyframes animation1-puzzle3 {
	from {
		transform: none;
	}
	to {
		transform: translate(-32px, -25px);
	}
}
@keyframes animation1-puzzle4 {
	from {
		transform: none;
	}
	to {
		transform: translate(-78px, 116px) rotate(20deg);
	}
}
